{
    "config": {
        "LSQ_API_URL": "https://api.lemonsqueezy.test",
        "LSQ_APP_URL": "https://app.lemonsqueezy.test",
        "LSQ_OAUTH_CLIENT_ID": ""
    },
    "plugins": [".", "https://downloads.wordpress.org/plugin/query-monitor.zip"],
    "phpVersion": "8.4",
    "lifecycleScripts": {
        "install": "composer install",
        "build": "node --version && yarn --version && yarn install && yarn build",
        "permalinks": "wp rewrite structure '/%postname%/' --hard && wp rewrite flush --hard"
    },
}
