// Block.
.lsq-button {
    position: relative;
    background: $c-brand-1 !important;
    color: #fff !important;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    display: inline-block;
    padding: 0 20px;
    border-radius: $br-sm;
    text-decoration: none;
    box-shadow: none;
    transition: box-shadow 0.25s ease-in-out;

    &:hover {
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.13);
        text-decoration: none !important;
    }

    &:disabled {
        opacity: 0.5 !important;
    }

    &.is-busy::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        right: 16px;
        bottom: 0;
        margin: auto;
        border: 2px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
    }
}

// Modifier.
.lsq-button--secondary {
    background: #fff !important;
    color: $c-brand-1 !important;
    position: relative;
    padding-right: 60px;
    border-radius: $br-md;

    &:before,
    &:after {
        content: "";
        position: absolute;
    }

    &:before {
        right: 20px;
        transform: rotate(45deg);
        border: 2px solid $c-brand-1;
        width: 6px;
        height: 6px;
        top: 16px;
        border-bottom: none;
        border-left: none;
    }

    &:after {
        top: 19px;
        right: 20px;
        height: 2px;
        width: 32px;
        background: $c-brand-1;
        display: block;
    }

    &:hover {
        background: #fff;
        color: $c-brand-1;
    }
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
