.lsq-card {
    margin-bottom: 40px;

    .lsq-avatar {
        margin: 16px auto 0;
    }

    .lsq-card__body {
        p:first-child {
            margin-top: 0;
        }
        h3 {
            margin-bottom: 7px;
        }
    }
}
