// Block.
.lsq-field-wrapper {
    position: relative;
}

// Elements.
.lsq-field-wrapper {
    .lsq-field {
        padding-right: 40px;
    }
}

.lsq-field-wrapper__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    top: 10px;
    right: 10px;
    font-size: 16px;
    transition: none;

    &.dashicons-yes {
        background: $c-yes-1;
        color: $c-yes-2;
    }

    &.dashicons-no {
        background: $c-no-1;
        color: $c-no-2;
    }
}
