// Block.
.lsq-panel {
    padding: 0 !important;
    border: none;
    text-align: center;
}

// Elements.
.lsq-panel {
    .components-base-control__label {
        color: $c-headings;
        font-size: 26px;
        margin: 0 0 40px;
        line-height: 1.2;
        max-width: 100%;
    }

    input[type="text"],
    input[type="password"] {
        box-sizing: border-box;
        height: 40px;
        border: 1px solid $c-border;
        width: 100%;
        line-height: 38px;
        box-shadow: $shadow-fields;
        border-radius: $br-sm;
        text-overflow: ellipsis;
        margin: 0 0 20px 0;
        max-width: 420px;
    }

    .lsq-button {
        margin: 0 0 20px;
    }

    .lsq-button {
        width: 100%;
        max-width: 420px;
    }

    .lsq-input {
        display: block;
    }

    .error {
        color: #f44e4d;
        margin-top: -10px;
    }

    .success {
        color: #24bf60;
        margin-top: -10px;
    }

    .reset {
        color: #7047eb;
        cursor: pointer;
    }
    .reset:hover {
        text-decoration: underline;
    }

    .lsq-notice {
        margin-bottom: 20px;
    }
}
