// Colors.
$c-brand-1: #7047eb;

$c-background: #f7f7f8;
$c-headings: #1d2327;
$c-border: rgba(10, 10, 11, 0.16);

$c-yes-1: #e7f8f1;
$c-yes-2: #24bf60;
$c-no-1: #fff2f2;
$c-no-2: #f44e4d;

// Shadows.
$shadow-fields: 0 1px 1px rgba(10, 10, 11, 0.06);

// Border radii.
$br-sm: 8px;
$br-md: 20px;

// Breakpoints.
$bp-sm: 782px;
$bp-md: 850px;
